<hr>
<br>
<%- list_categories({
		depth: 1,
		orderby: 'count'
	}) %>

<!-- Count tags and categories -->
<p class="count"></p>

<div class="tags">
    <%- tagcloud({
        min_font: 16,
        max_font: 35,
        amount: 999,
        color: true,
        start_color: '#00f',
        end_color: '#FF4500',
    }) %>
</div>
<style>
	.category-list{
		display:inline-block;
		margin:0 auto;
		list-style:none;
	}
    .category-list li{
        display: inline-block;
        margin: 0 1em .5em 0;
        padding: 4px;
        font-size: 1.2rem;
				background:#ffffff;
				list-style:none;
    }

    .category-list-count {
        margin-left: 2px;
        font-size: 1.3rem;
				float:right;
				padding:6px 2px 2px 2px;
				margin-top: -20px;
    }

    .article-entry ul li:before{ display: none; }
    .article-inner { text-align: center; }

	.category-list-link {
		outline: none;
		text-decoration: none;
		position: relative;
		font-size: 1.3em;
		line-height: 1.4;
		display: inline-block;
	}

    .tags {
        max-width: 42em;
        margin: 2em auto;
        margin-top: 0em;
    }
    .tags a {
        margin-right: 1em;
        line-height: 65px;
        border-bottom: 1px solid gray;
        white-space: nowrap;
        transition: border-bottom .5s;
    }
    .tags a:hover {
        border-bottom: 3px dotted gray;
        text-decoration: none;
    }
    #count > span {
        margin: auto .2em;
        font-weight: bold;
    }

	/* Yaku */
	.category-list-link {
		color: #000000;
		font-family: 'Playfair Display';
		font-weight: 400;
		text-transform: uppercase;
		font-size: 1.3em;
		margin-top: -20px;
		overflow: hidden;
		padding: 0 0 10px;
	}

	.category-list-link::before {
		content: '';
		position: absolute;
		height: 100%;
		width: 100%;
		border-width: 1px 0;
		border-color: #36648B;
		border-style: solid;
		left: 0;
		-webkit-transform: translate3d(-101%,0,0);
		transform: translate3d(-101%,0,0);
		-webkit-transition: -webkit-transform 0.5s;
		transition: transform 0.5s;
	}

	.category-list-link:hover::before {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}

	.category-list-link span {
		display: inline-block;
		position: relative;
		-webkit-transform: perspective(1000px) rotate3d(0,1,0,0deg);
		transform: perspective(1000px) rotate3d(0,1,0,0deg);
		-webkit-transition: -webkit-transform 0.5s, color 0.5s;
		transition: transform 0.5s, color 0.5s;
	}

	.category-list-link:hover span {
		color: #1e1a1b;
		-webkit-transform: perspective(1000px) rotate3d(0,1,0,360deg);
		transform: perspective(1000px) rotate3d(0,1,0,360deg);
	}

	.category-list-link span:nth-child(4),
	.category-list-link:hover span:first-child {
		-webkit-transition-delay: 0s;
		transition-delay: 0s;
	}

	.category-list-link span:nth-child(3),
	.category-list-link:hover span:nth-child(2) {
		-webkit-transition-delay: 0.1s;
		transition-delay: 0.1s;
	}

	.category-list-link span:nth-child(2),
	.category-list-link:hover span:nth-child(3) {
		-webkit-transition-delay: 0.2s;
		transition-delay: 0.2s;
	}

	.category-list-link span:first-child,
	.category-list-link:hover span:nth-child(4) {
		-webkit-transition-delay: 0.3s;
		transition-delay: 0.3s;
	}
</style>

<p id="count" style="margin-top:-28px;color:gray;">
        <%= __('tag_cloud.already') %><span><script>document.write($(".category-list-item").length)</script></span><%= __('tag_cloud.categories') %>
        <%= __('tag_cloud.total') %><span><script>document.write($(".tags > a").length)</script></span><%= __('tag_cloud.tags') %>
</p>
<script>
    $('#count').appendTo('.count');
</script>
